[Desktop Entry]
Name=Breeze No Shadows Antu

X-KDE-PluginInfo-Author=Blacksuan19
X-KDE-PluginInfo-Email=abubakaryagob@gmail.com
X-KDE-PluginInfo-Name=Breeze No Shadows Antu
X-KDE-PluginInfo-Version=5.30
X-KDE-PluginInfo-Website=https://github.com/Blacksuan19/Plasma-Themes
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=Next
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080

[ContrastEffect]
enabled=true
contrast=0.2
#intensity is disabled, in order to auto adjust to the chosen theme color
#intensity=2.0
saturation=1.7
